.left {
    position: absolute;
    left:0px;
    width:auto;
    height:auto;
}
.right {
    position: absolute;
    right:0px;
    width:auto;
    height:auto;
}
.bottom {
    position: absolute;
    bottom :0px;
    width:auto;
    height:auto;
}
.top {
    position: absolute;
    top :0px;
    width:auto;
    height:auto;
}
.hcenter {
    margin-left:auto;
    margin-right:auto;
    right:0;
    left:0;
    width:auto;
    height:auto;
}
.vcenter {
    margin-top:auto;
    margin-bottom:auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:auto;
    height:auto;
}
.justCenter {
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}
.leftRight {
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;             

    border: 1px dashed black;
    justify-content: space-between;
    background-color: lightyellow;
}

.raise {
    -webkit-transform: translateZ(3px);
}
.textLeft {
    text-align:left;
}
.textCentered {
    width: 100%;
    text-align: center
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

