/* ########################################################
   Impress stuff
   ########################################################*/

.impress-enabled .step.show {
    opacity: 0.05;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.0;
    z-index: 10;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
    z-index:20;
}
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/* ########################################################
   My stuff
   ########################################################*/

/* html {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   }

 *, *:before, *:after {
   box-sizing: inherit;
   }
 */
body {
    font-family: 'Arial', sans-serif;
    font-size:200%;
    min-height: 740px;
    background: white;
}

sup {
    font-size: small;
}

.test {
    background-color: red;
    opacity:1.0;
}

#overview { display: flex }

video {
    display: block;
    width:100%;
    height:auto;
    -webkit-transform: translateZ(1px);
}
video-overlay {
    position: absolute;
    margin: 0px;
    text-align:right;
    -webkit-transform: translateZ(2px);
}


.path #red {
    stroke:red
}

.path #green {
    stroke:green
}

div {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* ######################## FOOTERS ################################ */

#footer {
    position: absolute;
    display: block;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    line-height: 50px;
    background:url(../IMAGES/slideBot.png);
    padding-bottom:10px;
    margin-left: 30px;
}
#footerTitle {
    display: inline;
    font-size: 1.0em;
    color: #8C8C8C;
    float: right;
}
#footerDate {
    display: inline;
    padding-right: 1.1em;
    font-size: 0.9em;
    color: #8C8C8C;
    float: right;
}
#slideNumber{
    position: absolute;
    display: block;
    bottom:0;
    line-height:50px;
    height:50px;
    left:10;
    font-size:0.8em;
    color: #FFFFFF;    
}

/* ########################## LOGOS ######################################## */

#logo {
    position: absolute;
    display: block;
    bottom:1%;
    right:1%;
}
#oneraLogo {
    position: absolute;
    display: block;
    bottom: 5px;
    height: 44px;
    left: 90px;
    z-index:100;
}
#republique {
    position: absolute;
    display: block;
    bottom:5px;
    height: 44px;
    width: 50px;
    left: 30px;
    z-index:100;
}    

/* ########################## FIRST SLIDES ######################################## */

.first_slide {
    background:url(../IMAGES/bg1.png) center;
    background-size: 100% 100%;
}

#slide_-1,#slide_0 {
    width:948;
    height:720
}

.title {
    background:url(../IMAGES/bg2.png) center;
    background-size: 100% 100%;
}

.title h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    color: #00509A;
    font-size: 2em;
    line-height:1.1em;
    vertical-align:middle;
    left: 30px;
}

.title h2 {
    position: absolute;
    top: 40%;
    width: 100%;
    margin: auto;
    font-size: 1.5em;
    vertical-align:middle;
    color: #808080;
    left: 30px;
}

.title h3 {
    position: absolute;
    top: 65%;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.0em;
    vertical-align:middle;
    color: #CBCBD2;
}

/* ########################## PLAN ######################################## */

.plan {
    background-size:100%;
    margin:5px;
}

.plan ul {
    list-style-type:dot;
    padding-left:1em;
    background:rgba(206,206,206,0.4);
}

.plan ul ul {
    padding-left:0;
}

/* ########################## SLIDES ######################################## */

#slideTitle {
    position: absolute;
    display: block;
    top:0;
    left:0;
    font-size:1.5em;
    width:100%;
    height:70px;
    line-height: 70px;
    text-align:left;
    background:url(../IMAGES/slideTop.png);
    color: #00509A;
    margin-left:30px;
}
#slideSubTitle {
    position: absolute;
    display: block;
    top:0;
    right:10;
    font-size:0.8em;
    width:40%;
    text-align:right;
    height:75px;
    line-height: 70px;
    background-repeat: repeat-x;
    background-size: contain;
}

/* ########################## FIGURES ######################################## */

figure {
    display:flex;
    flex-flow: column;
    margin: auto;
    padding: 0;
    width:100%;
}
figcaption {
    display: table-caption;
    width:100%;
    caption-side: top;
    text-align:center;
    font-size:1.0em;
    color: #E5E5F1;
    background: #444797;
}
figcaption fmath * {
    font-family: Arial, sans-serif;
    color: #E5E5F1;
}

img {
    object-fit:contain;
    object-position: top;
    max-width: 100%;
    max-height: 100%;
    width:100%;
    margin:auto;
    display:block;
}

/* ########################## VIDEOS ######################################## */

video {object-fit:contain}

/* ########################## TABLES ######################################## */

table {
    width:100%;
}
.tableHead {
    background:#0052AB;
    color:white;
}

table, th, td {
    border: 1px solid black;
    text-align:left;
    padding-left:50px;
    padding-right:10px;
    border-collapse: collapse;
}

table .empty {
    border: 0;
    background:0;
}


/* ########################## BOXES ######################################## */

.Box {
    background: #0052AB;
    color:white;
    border-radius: 25px;
    width:100%;
    overflow: hidden;
}

.Box .bList,span {
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.Box .boxTitle {
    color: darkblue;
    padding-left: 20px;
    background: lightsteelblue;
}

/* ########################## LISTS ######################################## */

div .bullet.future {
    opacity:1.0;
}
div .bullet.past {
    opacity:0.1;
}
/* list indentation */
/* Main Level */
ul{
    margin-left:0px;
    list-style-type:disc;
}

/* Second Level */
ul ul {
    margin-left:1em;
    font-size:0.8em;
    list-style-type:square;
    padding-top:0;
    color:#c3c1c1
}

/* Third Level */
ul ul ul{
    margin-left:2em;
    font-size:0.6em;
}

li {
    list-style-position: outside;
    margin-left: 1em;
}
/* ########################## Text ######################################## */

.Text {
    padding:10px;
}
/* ########################## FONT SIZES ######################################## */

.smallText {
    font-size:0.5em;
}

.mediumText {
    font-size:0.8em;
}

.bigText {
    font-size:1.5em;
}


/* ########################## DIVERS ######################################## */

.done {
    opacity:0.2;
}

#annexe1.future {
    opacity:0;
}

.transparent {
    opacity:0.9
}

.important {
    background:#80002C;
    color:#F0C4D3
}
.emphasise {
    color:orange;
}
.sub { 
    vertical-align: sub;
    font-size: smaller;
}

.stayVisible.past , .stayVisible.future {
    opacity:0.5;
    background: aliceblue;
    z-index: 100;
}

#Controls {
    position:absolute;
    bottom:70px;
    right:1%;
    pointer-events:all;
    /*display: none;
      visibility: hidden;*/ 
}
#Controls select {
    display:block;
    width: 100%;
}
#impress-toolbar-group-0 {
    display:flex;
    padding:0;
}
#impress-toolbar-group-10 {
    display: none;
    visibility: hidden; 
}

.substep {
    opacity: 0;
}
.substep.substep-visible {
    opacity: 1;
    transition-delay:0s;
    transition:0.5s;
}

.dosubscript {
    vertical-align:sub;
    }
