html {
    height: 940px;
    overflow:hidden;
}    

.slide {
    /* background-color:red; */
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* width:1000px; */
    /* height:700px; */
    width:100;
    height:100;
    display:block;
    overflow:hidden;
}

figure {
    display:block;
    overflow:hidden;
}

figcaption {
    display: inline-block;
    text-align:center;
    overflow:hidden;
}

.MathJax_SVG {
    display:inline;
    overflow:hidden;
}

img {
    display:block;
    margin:0;
    object-fit:0;
    overflow:hidden;
    
}

@media print {
    @page { margin: 0; size: 1920px 1080px;}
    body { margin: 1.6cm; }
    
}
