#fakeLogo1 {
    position: absolute;
    display: block;
    bottom:0%;
    left:1%;
    z-index:100;
}

#fakeLogo2 {
    position: absolute;
    display: block;
    top:0%;
    right:1%;
    z-index:100;
}

.Box {
    background: #494949;
}
